* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow Condensed';
}

nav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0 60px;
}

nav .logo {
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 12px 40px;
}

nav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  transition: 200ms;
}

nav a:hover{
  background-color: rgb(185, 185, 185);
  transition: 200ms;
}

header {
  background: url(header.jpg), rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  padding: 15%;
}

header h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 80px;
}

header h2 {
  text-align: center;
  color: white;
  font-weight: 500;
}

header .btn_rm {
  display: flex;
  justify-content: center;
}

.btn_rm a{
  background-color: #DB545A;
  padding: 15px 60px;
  text-align: center;
  color:white;
  text-decoration: none;
  font-size: 18px;
}

section{
  display: flex;

}

aside{
  flex: 45%;
  background-color: #CCD3DB;
  padding: 40px 0 0 15%;
}

aside h2{
  margin-bottom: 0;
  font-size: 30px;
  color: #468AC9;
}

aside h3{
  margin-top: 0;
  font-size: 15px;
  color: #468AC9;
  font-weight: 500;
}

main{
  flex: 55%;
  background-color: #468AC9;
  padding: 40px;
}

main h2{
  font-size: 30px;
  color: #79b3eb;
}

main input, textarea{
  width: 75%;
  height: 30px;
  border: none;
  
}

main input::placeholder, main textarea::placeholder{
  color: rgb(180, 180, 180);
  font-weight: 100;
  font-variant: small-caps;
  padding: 10px;
}

main textarea{
  height: 150px;
}

main button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  padding: 10px 40px;
  margin-bottom: 20px;
  transition: 200ms;
}

main button:hover{
  background-color: #79b3eb;
  transition: 200ms;
}

.img_sc2{
  flex: 50%;
  padding: 40px 20px 20px 15%;
}

.img_sc2 img{
  max-width: 100%;
}

.art_sc2{
  flex: 50%;
  padding-right: 15%;
  margin: auto;
  text-align: center;
}

.art_sc2 h2{
  font-size: 30px;
}

/*Read More*/
#readmore{
  position: fixed;
  display: none;
  flex-flow: row wrap;
  top: 0; bottom: 0;
  right: 0; left: 0;
  padding: 0 20vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  align-content: center;
  align-items: center;
  z-index: 9999;
}

#readmore .title{
  flex: 100%;
  font-size: 80px;
  text-align: center;
}

#readmore .content_left{
  flex: 50%;
  position: relative;
  padding: 0 4vw;
  text-align: center;
}

#readmore .content_right{
  flex: 50%;
  position: relative;
  padding: 0 4vw;
  text-align: center;
}

#readmore hr{
  width: 80%;
}

#readmore .close{
  flex: 100%;
  padding-top: 10px;
  text-align: center;
}

#readmore img{
  transition: 200ms;
}

#readmore img:hover{
  transform: scale(150%) rotate(90deg);
  transition: 200ms;
}

@media screen and (max-width: 769px) {

  nav{
    padding: 0;
  }

  section{
    flex-wrap: wrap;
  }

  aside{
    flex:100%;
    padding-bottom: 200px;
  }

  main{
    flex:100%;
  }

  .img_sc2{
    flex: 100%;
    padding: 15px;
  }

  .art_sc2{
    flex: 100%;
    padding: 0 15px;
  }

  #readmore{
    padding: 0 40px;
  }

  #readmore .content_left{
    flex: 100%;
    padding: 0;
  }

  #readmore .content_right{
    flex: 100%;
    padding: 0;
  }
}