*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color: white;
    overflow: hidden;
}

nav .logo{
    float: left;
    border: 1px solid black;
    margin: 10px;
    padding: 14px 40px;
}

nav a{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}